<div class="card">
  <h1>{{movie.title}}</h1>
  <p>created by: {{movie.user || movie.user.username }}</p>

  <h3>{{movie.description}}</h3>

  <p>{{movie.rating}}</p>
</div>


<!-- <p ng-if="createController.errors">{{createController.errors}}</p> -->
