.sidebar {
  background-color: grey;
  height: 100vh;
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color:#333333;
    }
  }
}
.category {
  margin-bottom: 2em;
}
