<div class="wrapper">
  <div class="container">
  <!-- <p ng-if="createController.erros">{{movie.data.errors}}</p> -->
    <div class="form-group" ng-controller="MoviesIndexController">
        <div ng-repeat="movie in movies | orderBy:'rating'">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="product">

              <div class='product-body'>

               <nw-card title="movie.title" description="movie.description" category="movie.category">
               </nw-card>

              </div>

              <ul class="list-inline product-controls hidden-sm hidden-xs">
                <li><a ng-href="#/movies/{{movie.id}}"><i class="fa fa-share"></i></a></li>
              </ul>

            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <nw-form></nw-form>

      </div>
    </div>
  </div>
</div>

