<div class="wrapper">
  <div class="container">
  <!-- <p ng-if="createController.erros">{{movie.data.errors}}</p> -->
    <div class="form-group" ng-controller="MoviesIndexController">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">


            <nw-form></nw-form>

      </div>
        <div ng-repeat="movie in movies">
          <div class="col-xs-12 col-sm-3">
            <div class="card">
            <a ng-href="#/movies/{{movie.id}}">
              <nw-card header="movie.title"
              description="movie.description">
              </nw-card>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

