<!-- <form class="form-horizontal" role="form" ng-submit="addMovie()">
    <div ng-include="'partials/_form.html'"></div>
</form> -->
<div ng-controller="MoviesNewController">
  <form ng-submit="addEntry()">
    <label for="title">film</label>
    <input id="title" type="text" class="form-control" ng-model="newMovie.title" placeholder="entrez un film">
    <label for="description">résumé</label>
    <input id="description" type="text" class="form-control" ng-model="newMovie.description" placeholder="entrez un résumé">
    <!--   <label for="file">choisissez une photo</label>
    <input type="file" name="nom" ng-model="newMovie.picture" /> -->
    <input type="submit" value="Add" class="btn btn-warning">
  </form>
</div>
