<div ng-if="movie.picture"></div>

<table class="table movietable" ng-controller="MoviesShowController">
    <tr>
        <td><h3>Details for {{movie.title}}</h3></td>
    </tr>
    <tr>
        <td>Movie Title</td>
        <td>{{movie.title}}</td>
    </tr>
    <tr>
        <td>Résumé</td>
        <td>{{movie.description}}</td>
    </tr>
    <tr>
        <td>Film</td>
        <td>{{movie.available}}</td>
    </tr>
    <tr>
        <td>Movie categoy</td>
        <td>{{movie.categry}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editMovie({id:movie._id})">Edit</a>
</div>
